@use '../base/variables' as v;
@use '../base/mixins' as m;

.meal-summary{
    // background-color: rgb(129, 151, 151);

    .meal-summary__group{
        border: 1px solid v.$color-gray;
        padding: 2rem 1rem;
        border-radius: 1rem;
        max-width: 100rem;
        margin: 0 auto 2.5rem;
    }

    .meal-summary__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 2rem;
        background-color: v.$color-gray;
        padding: 1rem;
        @include m.respond-to('tablet'){
            padding: 2rem 1.2rem;
        }

        .meal-summary__meal-title{
            font-size: 1.5rem;
            font-weight: v.$font-bold;
            margin: 0;
            text-transform: capitalize;
            @include m.respond-to('tablet'){
                font-size: 1.6rem;
            }
            @include m.respond-to('desktop'){
                font-size: 1.8rem;
            }
        }

        .add-btn{
            background-color: v.$color-blue;
            font-size: 1.2rem;
            color: v.$color-white;
            font-weight: v.$font-bold;
            border-radius: .6rem;
            text-transform: capitalize;
            padding: 0 1rem;
            height: 3rem;
            align-items: center;
            
        }
        .add-btn::before{
            content: '+';
            margin-right: .7rem;
            font-size: 2.5rem;
        }
        .add-btn:hover{
            opacity: .8;
        }

    }

    .meal-summary__list{

        .food-item{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid v.$color-gray ;
            border-left: 1px solid v.$color-gray ;
            border-right: 1px solid v.$color-gray ;
            background: v.$color-white;
            padding: .5rem;

            &:hover{
            background: #f1f1f1;

            }

            .flex-item--info{
                width: 95%;
            }

            .flex-item--options{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 1rem;
                @include m.respond-to('tablet'){
                margin-right: 1rem;
                }
            }

            .food-item__group{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.2rem;
                font-weight: v.$font-bold;

                @include m.respond-to('tablet'){
                    font-size: 1.4rem;
                }

                @include m.respond-to('deskptop'){
                    font-size: 1.5rem;
                }
                @include m.respond-to('deskptop-large'){
                    font-size: 1.7rem;
                }
            }
            .food-item__group > *{
                margin: 0;
            }

            .food-item__macro{
                font-weight: v.$font-medium;
                margin-right: .7rem;
            }
            .food-item__size{
                font-weight: v.$font-medium;
                color: v.$color-black-light;
            }

            .food-item__macro:last-child{
                margin-right: 0;
            }
            .food-item__macro.protein, 
            .food-item__macro.carbs, 
            .food-item__macro.fat, 
            .food-item__name, 
            .food-item__unit{
                text-transform: capitalize;
            }
            .food-item__macro.carbs{
                color: v.$color-blue;
            }
            .food-item__macro.fat{
                color: v.$color-primary;
            }
            .food-item__macro.protein{
                color: v.$color-green;
            }

            &.borders{
            border-top: 1px solid v.$color-gray ;
            }
        }
    }

    @include m.respond-to('tablet'){
        overflow-y: scroll;
        max-height: 75rem;
    }
}

// options

.flex-item--options{
    position: relative;

    .options-toggle{
        display: block;
        width: 100%;
        font-size: 1.7rem;
        font-weight: v.$font-bold;
    }

    .options {
        position: absolute;
        left: -10rem;
        width: 10rem;
        top: 70%;
        background-color: v.$color-white;
        box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
        z-index: 10;
    }
    
    .options{
        display: flex;
        flex-direction: column;
        border-radius: .5rem;
        overflow: hidden;
        .option{
            background: transparent;
            border: none;
            border-bottom: 1px solid v.$color-gray;
            text-align: center;
            margin: 0;
            width: 100%;
            padding: .7rem;
            border-radius: 0%;
            font-size: 1.3rem;
        }
        .option:hover{
            cursor: pointer;
        }
    }

    .options.hidden {
        display: none;
    }
    
}
